.admin-navbar {
  background-color: #333;
  display: flex;
  justify-content:space-around;
  padding: 14px 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: -1px;
  width: 100%;
  z-index: 1000;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-menu li {
  padding: 14px 20px;
}

.nav-menu li a,
.nav-menu li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-menu li button {
  background-color: red;
  border-radius: 5px;
  padding: 10px 20px;
}

.nav-menu li button:hover {
  background-color: darkred;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 24px;
}

.nav-toggle-label span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .nav-toggle-label {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    margin-top: 0; /* Added to reset margin */
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-menu {
    display: flex;
  }

  .nav-menu li {
    padding: 10px 0; /* Adjusted padding */
    text-align: center; /* Center align items */
    width: 100%; /* Occupy full width */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Added border */
  }
}
