.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f4f4f4; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px; /* Ajuste para separación entre filas */
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px); /* Dos elementos por fila con espacio entre ellos */
  flex-grow: 1;
  margin-bottom: 10px;
}

.form-group:first-child {
  margin-right: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"],
input[type="file"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%; /* Asegura que los inputs ocupen el ancho completo del contenedor */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#previewContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.file-name {
  margin-top: 5px;
  font-size: 12px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    min-width: 100%;
    margin-right: 0;
  }
}
