/* Menu.css */

/* Ocultar la barra de navegación original */
.navbar {
  display: none;
}

/* Mostrar el checkbox durante las pruebas */
.menu-toggle {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0; /* Hacerlo invisible pero funcional */
  z-index: 1001;
}

.menu-icon {
  font-size: 2em;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
}

.menu-icon-line {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255); /* Cambiar a blanco si el fondo es oscuro */
}

/* Sidebar Styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Sidebar translúcido */
  backdrop-filter: blur(10px); /* Aplicar efecto de desenfoque */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 20px;
  text-align: center;
}

.navbar-user, .logout-button {
  color: white;
}

/* Mostrar sidebar cuando el checkbox está marcado */
#menu-toggle:checked ~ .sidebar {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .menu-icon {
    left: 10px;
  }

  .sidebar {
    width: 100%; /* Hacer que el sidebar ocupe todo el ancho en móvil */
  }
}
