/* Menu.css */

.navbar {
  position: relative;
  background-color: #333;
  padding: 10px;
  color: white;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a, .navbar-user {
  color: white;
  text-decoration: none;
}

.logout-button {
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
}
