.registro-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: transparent; /* Fondo transparente */
  background-image: url('../img/fondo-registro.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.registro-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
  width: 100%;
}

.registro-form input {
  width: 90%;
  padding: -5px;
  margin: 15px;
  border: 2px solid #0928da;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.registro-form input:focus {
  border-color: #007bff;
  outline: none;
}

.registro-form button {
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.registro-form button:hover {
  background-color: #0056b3;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Altura mínima de la ventana del navegador */
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.google-signin-button:hover {
  background-color: #357ae8;
}

.google-signin-button svg {
  margin-right: 10px;
}

.login-link {
  margin-top: 10px;
  text-align: center;
  color: #007bff;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .registro-form {
    padding: 15px;
    margin: 10px;
  }

  .registro-form h2 {
    font-size: 1.4em;
  }

  .registro-form label,
  .registro-form input,
  .registro-form button {
    font-size: 0.9em;
  }

  .google-signin-button {
    font-size: 0.9em;
  }

  .google-signin-button svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .registro-form {
    padding: 10px;
    margin: 5px;
  }

  .registro-form h2 {
    font-size: 1.2em;
  }

  .registro-form label,
  .registro-form input,
  .registro-form button {
    font-size: 0.8em;
  }

  .google-signin-button {
    font-size: 0.8em;
  }

  .google-signin-button svg {
    width: 16px;
    height: 16px;
  }
}
